[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
python-dotenv = "*"
pygithub = "*"
colorama = "*"
ghapi = "*"

[dev-packages]

[requires]
python_version = "3.10"
